:root {
  --bg-color: #1e272e; 
  --header-color: #e2e2e2; 
  --close-btn-color: #ff6059;
  --minimise-btn-color: #ffbd2e;
  --maximise-btn-color: #29ca42;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

::selection {
  background-color: #fff;
  color: #111;
}

.terminal {
  display: block;
  width: 600px;
  border-radius: 0.27 rem;
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.3);
  min-height: 200px;
}

.terminal__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--header-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
}

.terminal__controls {
  display: flex;
  gap: 4px;
}

.terminal__title {
  flex-grow: 1;
}

.terminal__title .terminal__title-text {
  text-align: center;
  font-size: 14px;
}

.terminal__head .terminal__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.terminal__button--close {
  margin-left: 10px;
  background-color: var(--close-btn-color);
}

.terminal__button--minimise {
  background-color: var(--minimise-btn-color);
}

.terminal__button--maximise {
  background-color: var(--maximise-btn-color);
}

.terminal__body {
  padding: 0 10px;
}

.terminal__code {
  text-align: center;
}

.terminal__code-language {
  display: block;
  color: #fff;
  line-height: 2rem;
  text-align: left;
}

.terminal__commands-list {
  list-style: none;
}

.terminal__commands-list .terminal__command--input:last-child::after {
  content: "\25A0"; /* Unicode code point for a block symbol */
  font-size: 14px;
  vertical-align: middle;
  animation: 1.2s fade infinite;
}


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
